---
layout: default
---
<div class="wrapper">
  <div class="posts">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta" style="margin-bottom: 1.25em;"><span>Type: {{ page.type }}</span></p>

    <blockquote>
      {{ page.intro }}
    </blockquote>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
</div>
</div>
<div class="more-projects">
  <p style="text-align: center"><a href="./../../#work"><button type="button" alt="Link to view other projects">See more projects!</button></a></p>
</div>
